{% extends 'base.html.twig' %}

{% block title %}Hello ArticleAdminController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
    	<div class="main-article col-md-7 pb-3">
            <h4>Add new article</h4>
            <form id="add_form" name="add_form" method="post" enctype="mlutypart/form-data" action={{ path('add_article') }}>
            <label>Title</label><br>
            <input type="text" id="title"/><br>
            <label>Text</label><br>
            <textarea id="text_box"></textarea><br>
            <label>Image</label><br/>
            <input id="upl_img" type="file" name="image"/>
            <br><br>
            <input type="button" value="Submit" id="add_article_submit"/>
            </form>
            <div id="message_article"><br></div>
            {% if article_count>0 %}
            <div>{{article_count}} articles so far.</div>
            {% else %}
            <div><br/></div>
            {% endif %}
        </div>

        <div class="main-article col-md-5 pb-3">
            <h4>Add new quote</h4>
            <form id="add_form" name="add_form" method="post" action={{ path('add_article') }}>
            <label>Author</label><br>
            <input type="text" id="author"><br>
            <label>Quote</label><br>
            <textarea id="quote_box"></textarea><br>
            <label></label><br>
            <input type="button" value="Submit" id="add_quote_submit">
            </form>
            <div id="message_quote"><br></div>
            {% if quote_count>0 %}
            <div>{{quote_count}} quotes so far.</div>
            {% else %}
            <div><br/></div>
            {% endif %}
        </div>

        <div class="col-md-12 main-article">
            New row full lenght div
        </div>
        
    </div>
</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script src="{{ asset('js/article_add.js') }}"></script>

{% endblock %}
